#header {
    height: 10%;
    width:100%;
    border-radius: 5px;
    text-align: center;
    background-color: #0971B2;
    margin: auto;
}
#navbar {
    height: 90%;
    width: 35%;
    text-decoration: none;
    background-color: #B21212;
    float: left;
    text-align: center;
    display:inline-block;
    border-radius: 5px;
    position: fixed;
}
.GameButton {
    height: 15%;
    width: 94%;
    border-radius: 5px;
    background-color: #0971B2;
    margin-top: 5%;
}